<!DOCTYPE html>
<html>
<head><title>Job_new</title>
<link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
<link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">

</head>
<body style="direction:rtl">
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
          <form method="post" action="/job/create">

          <div class="form-group">
              <input type="text" name="name" value="" placeholder="کار ..." class="form-control" />
              <select name="category">
                  {% for c in cats %}
                  <option value={{c.id}}>
                      {{c.name}}
                  </option>
                  {% end %}
              </select>
          </div>

        <input type="submit" class="btn btn-primary Yekan" value="ذخیره" >
          </form>
    </div>
</div>

<!-- Modal -->

<script src="{{static_url('js/jquery.js')}}"></script>
<script src="{{static_url('js/bootstrap.js')}}"></script>

</body>
</html>