<!DOCTYPE html>
<html>
<head><title>Poem Maker Pro</title>
<link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
<link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
    <link href='{{ static_url("css/basic.css") }}' rel="stylesheet">

</head>
<body style="direction:rtl">
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 ">
        <a class="btn btn-lg btn-success Mitra pull-left" href="/restaurant/create">رستوران جدید</a>
        <a class="btn btn-lg btn-success Mitra pull-left" href="/category/create">اضافه کردن گروه کار جدید</a>
        <a class="btn btn-lg btn-success Mitra pull-left" href="/job/create">اضافه کردن کار جدید</a>
        <a class="btn btn-lg btn-success Mitra pull-left" href="/employe/create">اضافه کردن کارمند جدید ...</a>
        <br/>      <br/>      <br/>
        <table class="table table-striped">
            <tr>

                <td>
                    name
                </td>
                <td>
                    address
                </td>
                <!--<td>-->
                    <!--تعداد کارمندان رستوران-->
                <!--</td>-->
                <td>اسامی کارکنان رستوران</td>
            </tr>
            {% set last = None %}
            {% for rest  in rests %}
            <tr class="Mitra">
            {% set re = rest.restaurant %}
            {% if re != last %}
                {% set last=re %}
            <td>
                {{re.name}}
            </td>
            <td>
                {{re.address}}

            </td>
            {% end %}
                <td>
                    {{rest.employe.f_name}}
                </td>

        </tr>
            {% end %}

        </table>
    </div>
</div>

<script src="{{static_url('js/jquery.js')}}"></script>
<script src="{{static_url('js/bootstrap.js')}}"></script>

</body>
</html>